* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.logo {
    height: auto;
    width: 30vw;
}
.top-section {
    padding: 2rem;
}

.header-text {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    padding: 3rem;
    padding-bottom: 1.4rem;
    color: hsl(0, 6%, 24%);
}

.highlight {
    background-color: transparent;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.info {
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    text-align: center;
    padding: 2rem;
    padding-top: 0;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.email-input {
    border-radius: 90px;
    border: 1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
    padding: 1rem;
    width: 70vw;
}

.send-email {
    align-self: flex-end;
    background: rgb(248,191,191);
    background: linear-gradient(135deg, rgba(248,191,191,1) 30%, rgba(238,140,140,1) 80%);
    border: none;
    border-radius: 120px;
    padding: 1rem;
    height: 5.2vh;
    width: 17vw;
    position: absolute;
    margin-left: 55vw;
}